*{margin: 0; padding: 0;}

h1 {
    font-weight: bold;
    font-family: segoe ui light;
}

i {
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
::selection{
    background: hsl(40, 100%, 50%);
}

.col-sm-5 {
    margin-top: 96px;
    margin-left: -90px;
}

img.img-fluid {
    border-radius: 50%;
    border: 11px solid white;
    box-shadow: 0 0 12px 13px grey;
    transition: 0.3s;
    transform: scale(0.8);
    height: 550px;
}

img.img-fluid:hover {
    transform: scale(1);
} 